{% extends '::base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact Symblog</h1>
    <p>Want to contact Symblog ?</p>

    <form action="{{ path('DjebbzBlogBundle_contact') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Send">
    </form>
{% endblock %}